.collapsible__content {
 display: none;
}

.collapsible--expanded .collapsible__content {
  display: block;
}

.collapsible__content__flex {
  display: none;
 }

 .collapsible--expanded .collapsible__content__flex {
  display: flex;
  flex-direction: column;
 }

 @media (min-width: 960px) {
  .collapsible--expanded .collapsible__content__flex {
    display: flex;
    flex-direction: row;
   }
 }

.collapsible--expanded .btn-more {
  display: none;
}