.icon {
  width: 24px;
  height: 24px;
}

.icon-right {
  transform: rotate(180deg);
}

.vector {
  width: 16px;
  height: 16px;
}

.logo {
  width: 114px;
  height: 19px;
}

.btn .vector {
  fill: #1B5B31;
}