<div class="row d-flex gx-0">
  <div class="col-lg-6 order-lg-2">
    <div class="card rounded-0 bg-primary h-100 text-white ps-lg-8">
      <div class="card-body py-11 px-6">
        <p class="card-text">O firmie</p>
        <h1 class="card-title mb-5">Tworzymy z pasją</h1>
        <p class="card-text mb-6">
          Każdy projekt to nowe wyzwanie. Dlatego nasz zespół tworzą
          wykwalifikowani projektanci oraz architekci, których zadaniem jest
          rozpoznanie i realizacja potrzeb każdego Klienta. Nasza specjalizacja
          to przestrzenie nowoczesne, które charakteryzuje minimalizm, geometria
          i elegancka prostota. Tworzymy ogrody małoobsługowe, dostosowane do
          współczesnego trybu życia.
        </p>
        <button class="btn btn-outline-light rounded-pill px-4">
          Poznaj nas bliżej
          <img
            class="vector vector-right ms-2"
            src="./images/Vector.svg"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-6 order-lg-1 section-sticky">
    <img src="./images/Photo.png" alt="" class="w-100" />
  </div>
</div>
