<footer
  class="bg-black text-light px-lg-16 py-lg-7 px-2 py-2 justify-content-space-between"
>
  <nav class="navbar">
    <svg class="logo mb-2">
      <use
        xlink:href="images/sprite.svg#giarddesign"
        class="filltext-light"
      ></use>
    </svg>
    <ul class="navbar-nav d-lg-flex flex-lg-row">
      <li class="nav-item mb-2">
        <a class="nav-link text-light" href="#"
          >Daj znać, co możemy dla Ciebie zrobić!</a
        >
      </li>
      <li class="nav-item me-0">
        <button class="btn btn-primary rounded-pill px-4 py-2">
          Skontaktuj się z nami
        </button>
      </li>
    </ul>
    <hr class="line text-light my-6" />
  </nav>
  <nav class="navbar mb-10">
    <ul class="navbar-nav flex-row flex-wrap">
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Kontakt</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Instagram</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Facebook</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-light">LinkedIn</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a href="#" class="nav-link text-light">000-000-000</a>
      </li>
      <li class="nav-item me-0">
        <a href="#" class="nav-link text-light">giarddesign@kontakt.pl</a>
      </li>
    </ul>
  </nav>
  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="nav-link text-light">Prawa zastrzeżone © 2022</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item d-flex flex-row me-0">
        <a href="#" class="nav-link text-light">made by</a>
        <img src="./images/logo-ad-respect.svg" alt="" />
      </li>
    </ul>
  </nav>
</footer>
