<div class="card border-0 bg-secondary">
  <div class="card-body">
    <div class="card-title ps-12">
      <div class="card-text text-primary mb-3">Realizacje</div>
      <h1 class="card-title mb-8">Nasze projekty</h1>
    </div>
    <!-- START MASONARY -->
    <div class="container-fluid container-relative mb-5">
      <div class="gradient"></div>
      <div class="row masonry-grid">
        <div class="col-lg-4 masonry-column">
          <div>
            <img
              src="./images/Masonry_1.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_4.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_7.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-4 masonry-column">
          <div>
            <img
              src="./images/Masonry_2.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_5.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_8.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-4 masonry-column">
          <div>
            <img
              src="./images/Masonry_3.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_6.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
          <div>
            <img
              src="./images/Masonry_9.png"
              alt=""
              class="masonry-img img-fluid"
            />
          </div>
        </div>
        <div class="collapsible">
          <div class="collapsible__content__flex">
            <div>
              <img
                src="./images/Masonry_3.png"
                alt=""
                class="masonry-img img-fluid"
              />
            </div>
            <div>
              <img
                src="./images/Masonry_6.png"
                alt=""
                class="masonry-img img-fluid"
              />
            </div>
            <div>
              <img
                src="./images/Masonry_9.png"
                alt=""
                class="masonry-img img-fluid"
              />
            </div>
          </div>
          <button class="btn btn-outline-dark rounded-pill px-4 py-3 btn-more">
            Rozwiń
            <img src="./images/Vector.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
    <!-- END MASONARY   -->
  </div>
</div>
