<div class="container d-flex justify-content-center align-items-center">
  <div class="row bg-primary text-white p-9 my-6">
    <div class="col-lg-10 order-lg-1">
      <h2 class="fs-lg-1 fw-normal">
        Zostańmy w kontakcie!<br />Znajdziesz nas na
        <span class="fw-bold">Instagramie</span>.
      </h2>
    </div>
    <div class="col-lg-2 order-lg-1">
      <p>
        Śledź nasze<br />
        <nobr>najnowsze realizacje!</nobr>
      </p>
      <button class="btn btn-light text-primary rounded-pill px-4 py-2">
        Instagram
      </button>
    </div>
  </div>
</div>
