<nav class="navbar navbar-expand-lg justify-content-between">
  <svg class="logo">
    <use xlink:href="images/sprite.svg#giarddesign"></use>
  </svg>
  <button
    class="navbar-toggler"
    data-bs-toggle="collapse"
    data-bs-target="#navbarContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarContent">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link" role="button" href="#" data-bs-toggle="dropdown">
          Oferta
          <img src="./images/Icon.svg" alt="" />
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Projekty</a></li>
          <li><a class="dropdown-item" href="#">Wizualizacje</a></li>
          <li><a class="dropdown-item" href="#">Realizacje</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O firmie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Realizacje</a>
      </li>
      <li class="nav-item">
        <div class="input-group collapsible">
          <button type="button" class="btn collapsible--expanded">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#Icon 01"></use>
            </svg>
          </button>
          <input
            id="searchInput"
            type="search"
            class="form-control collapsible__content"
            placeholder="Wyszukaj..."
          />
        </div>
      </li>
    </ul>
  </div>
</nav>
